[device]
name = "Mikro"
auto_connect = true

[[global_mappings]]
description = "Global Action Example"
[global_mappings.trigger]
type = "Note"
note = 0
[global_mappings.action]
type = "Keystroke"
keys = "a"
modifiers = ["cmd"]

[[modes]]
name = "Test"

[[modes.mappings]]
description = "Test Action - Open Spotlight"
[modes.mappings.trigger]
type = "Note"
note = 12  # The pad you pressed
[modes.mappings.action]
type = "Keystroke"
keys = "fn"
modifiers = ["cmd"]