[device]
name = "Mikro"
auto_connect = true

[[modes]]
name = "Test"

[[modes.mappings]]
description = "Test Action - Open Spotlight"
[modes.mappings.trigger]
type = "Note"
note = 12  # The pad you pressed
[modes.mappings.action]
type = "Keystroke"
keys = "space"
modifiers = ["cmd"]